<div class="banner" id="bannerstar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://getwallpapers.com/wallpaper/full/c/9/d/242226.jpg);">

  <div class="container">
    <div class="card-product">
      <%= image_tag @star.photo %>
        <div class="card-product-infos">
          <h1><%= @star.name %></h1>
            <h4 style ="color:white;">€<%= @star.price %> per night</h4>
              <p><%= @star.description %></p>
              <h6 style ="color:white;"><%=@star.registration_number %><h6>
            <%= link_to "Book the star", new_star_booking_path(@star.id), class:"btn" %>
        </div>
    </div>
  </div>
</div>

    <div class= "map-container">
      <div style="width: 100%; height: 25vh;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
</div>
