<div class = "spacelol" style = "background-image: url(https://getwallpapers.com/wallpaper/full/c/9/d/242226.jpg)"></div>
<div class="banner" style = "background-image: url(https://getwallpapers.com/wallpaper/full/c/9/d/242226.jpg)" >
  <div class = "booking-container">

    <div class = "booking-box">
    <%if @pendingbook.length > 0 %>
      <h2 class = "text-center", id = "text"> Pending Bookings of your stars!</h2>
    <%end%>
     <% @pendingbook.each do |booking| %>
     <% @star = booking.star%>
      <ul class= "card-booking">
          <li><strong>Star:</strong> <%=booking.star.name.capitalize%></li>
          <li><strong>Star Renter:</strong> <%=booking.user.first_name.capitalize%> <%= booking.user.last_name.capitalize%></li>
          <li><strong>Star Registration Number:</strong> <%=booking.star.registration_number%> </li>
          <li><strong>Price:</strong> £<%= (booking.star.price * (booking.end_date - booking.start_date)).round%></li>
          <li><strong>Date:</strong> <%= booking.start_date.strftime("%A, %d %B %Y")%> to <%= booking.end_date.strftime("%A, %d %B %Y")%></li>
        <% if booking.booking_status == true%>
          <li class = "mb-2"><strong>Status:</strong> Approved</li>
        <%else%>
          <li class = "mb-2"><strong>Status:</strong> Not Approved</li>
      <%end%>
          <%= link_to "Confirm this booking", accept_booking_path(booking), class: "btn btn-primary", id: "approve", data: { turbo_method: :post, turbo_confirm: "Are you sure you want to accept this booking?" }  %>
          <%= link_to "Reject this booking", booking_path(booking), class: "btn btn-primary", id: "cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to reject this booking?" }  %>
        </ul>
     <%end%>

    </div>

    <div class = "booking-box ps-4">
      <%if @bookings.length > 0 %>
        <h2 class="text-center" id = "text">View your bookings!</h2>
      <%end%>
        <% @bookings.each do |booking|%>
        <% @star = booking.star%>
          <ul class = "card-booking">
            <li><strong>Star:</strong> <%= booking.star.name.capitalize%></li>
            <li><strong>Renter:</strong> <%= current_user.first_name.capitalize%> <%= current_user.last_name.capitalize%></li>
            <li><strong>Star Registration Number:</strong> <%=booking.star.registration_number%> </li>
            <li><strong>Price:</strong> £<%= (booking.star.price * (booking.end_date - booking.start_date)).round%></li>
            <li><strong>Date:</strong> <%= booking.start_date.strftime("%A, %d %B %Y")%> to <%= booking.end_date.strftime("%A, %d %B %Y") %> </li>
          <% if booking.booking_status == true%>
            <li class = "mb-2"><strong>Status:</strong> Approved</li>
          <%else%>
            <li class = "mb-2"><strong>Status:</strong> Not Approved</li>
          <%end%>
          <%if Date.today > booking.end_date%>
            <%if booking.booking_status == true%>
            <%= link_to "Review booking", new_booking_review_path(booking), class: "btn btn-primary", id: "reviewbook"%></li>
            <%end%>
            <%= link_to "Remove old booking", booking_path(booking), class: "btn btn-cancel", id: "cancelbook", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?" }  %>
          <%else%>
            <%= link_to "Cancel this booking", booking_path(booking), class: "btn btn-cancel", id: "cancelbook", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?" }  %>
          <%end%>
          </ul>
        <%end%>
    </div>

  </div>
</div>
"
