
<div class="wrapper">
  <div class="banner video">
    <video src="https://res.cloudinary.com/dgxlwwwxg/video/upload/v1701342378/Galaxy_scene_3d_mtrxo0.mp4" muted autoplay loop>
    </video>
      <div class="main-text">
        <h2>Let's go for a walk...</h2>
                <h1>...On the Stars</h1>
                    <p>
                      And reach for the stars
                    </p>
                    <div class="container">
                  <%= button_to "Explore your stars", mybookings_path, class: "btn" %>
                </div>
      </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: stars_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Type a keyword"
            %>
          <div class="container search">
          <%= submit_tag "Search", name: "" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="cards">
        <% @stars.each do |star|%>
          <%= link_to mybookings_path do %>
            <div class="card">
              <h4>
                <%= star.name%>
              </h4>
              <p> <%= star.description%> </p>
              <% if star.photo.attached? %>
                <%= cl_image_tag(star.photo.key, width: 400, height: 300, crop: :fill) %>
                  <% else %>
                  <%= cl_image_tag("star1.jpeg", width: 400, height: 300, crop: :fill) %>
              <% end %>
            </div>
          <% end %>
          <%end%>
  </div>





<div>
<%= link_to "my bookings", mybookings_path%>
</div>

<div>
<%= link_to "my owned stars", ownedstars_path%>
</div>
</div>
